.container Button {
    -fx-background-color: #F9F9F9;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 6);
}

.container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #055B34;
    -fx-text-fill: #FFFFFF
}
